<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
	<!-- 一个测试套束 -->
	<!-- 一个完整的测试功能 -->
	<!-- 一个完整的测试类 -->
	<!-- 一个测试集 -->
	<!-- 测试用例 -->
	<test name="Test4Init" preserve-order="true">
		<!-- 此部分测试仅发生在第一进入应用时发生，作为一个单独的Classes -->
		<classes>
			<!-- 测试工信部弹窗 -->
			<class name="com.cmic.GoAppiumTest.testcase.TestSplashActivity">
				<methods>
					<include name="initCheck" />
					<include name="checkNoNotify" />
					<include name="checkDenyProcotol" />
					<include name="checkScrollProcotol" />
					<include name="checkComfirmProcotol" />
				</methods>
			</class>
			<!-- 测试权限授权 -->
			<class name="com.cmic.GoAppiumTest.testcase.TestGrantPremissionActivity">
				<methods>
					<include name="initCheck" />
					<include name="chekNotNotify" />
					<include name="denyAllPremission" />
					<include name="checkShowPermissionRalation" />
					<include name="checkGetPermissionDetail" />
					<include name="checkPermissionRefuse" />
					<include name="checkPermissionRetry" />
					<include name="allowAllPremission" />
					<include name="testBack4SplashNoCancelTip" />
					<include name="testBack4SplashCancelTip" />
				</methods>
			</class>
			<!-- 首页应用推荐 -->
			<class name="com.cmic.GoAppiumTest.testcase.TestRequisiteActivity">
				<methods>
					<include name="initCheck" />
					<include name="checkAllSelect" />
					<include name="checkOneSelect" />
					<include name="checkBackForward" />
					<include name="checkOneGoDownload" />
					<include name="checkEnterMain" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Test4Regular">
		<classes>
			<!-- 必备应用的首页 -->
			<class name="com.cmic.GoAppiumTest.testcase.TestMainActivity">
				<methods>
					<include name="initCheck" />
					<include name="testNotification" />
					<include name="checkClick2OtherTab" />
					<include name="testSlip2OtherTab" />
					<include name="testWellSelect" />
					<include name="scroll2SoftWareBottom" />
					<include name="moreSoftware" />
					<include name="refreshSoftBatch" />
					<include name="checkGreatGame" />
					<include name="check2GameBottom" />
					<include name="moreGame" />
					<include name="refreshGameBatch" />
				</methods>
			</class>
			<!-- 必备应用的首页-更新测试 -->
			<class name="com.cmic.GoAppiumTest.testcase.TestMainActivityExtra">
				<methods>
					<include name="initCheck" />
					<include name="checkNotifyNum" />
					<include name="checkSearchKeyWordCycle" />
					<include name="zoomAndShrink" />
					<include name="lockOrNotEffect" />
					<include name="configChangeOreatation" />
				</methods>
			</class>
			<!-- 必备应用的搜索页测试 -->
			<class name="com.cmic.GoAppiumTest.testcase.TestSearchActivity">
				<methods>
					<include name="initCheck" />
					<include name="checkBack" />
					<include name="checkWordFromOutside" />
					<include name="checkGetMore" />
					<include name="closeTheWordList" />
					<include name="randomCheckOne" />
					<include name="clickTheClearSearchRly" />
				</methods>
			</class>
			<!-- 必备应用的搜索页-联想测试 -->
			<class name="com.cmic.GoAppiumTest.testcase.TestSearchActivityExtra">
				<methods>
					<include name="initCheck" />
					<include name="checkSearchRalation" />
					<include name="checkClickDownload" />
					<include name="checkClick2DetailByDirectItem" />
					<include name="checkClick2SearchResultByEasyItem" />
					<include name="checkSearchHistory" />
					<include name="checkEnterDetailFromHistory" />
					<include name="checkClearHistory" />
				</methods>
			</class>
			<!-- 必备应用的流量管家页面测试 -->
			<class name="com.cmic.GoAppiumTest.testcase.TestTrafficManagerActivity">
				<methods>
					<include name="initCheck" />
					<include name="checkTrafficInfo" />
					<include name="checkSlipToOtherTab" />
					<include name="checkClick2OtherTab" />
					<include name="checkDropDown2Refesh" />
				</methods>
			</class>
				<!-- 必备应用的下载管理测试 -->
			<class name="com.cmic.GoAppiumTest.testcase.TestDownloadManagerActivity">
				<methods>
					<include name="initCheck" />
					<include name="checkSlide2OtherTab" />
					<include name="checkClick2OtherTab" />
				</methods>
			</class>
				<!-- 必备应用的设置管理测试 -->
			<class name="com.cmic.GoAppiumTest.testcase.TestSettingActivity">
				<methods>
					<include name="initCheck" />
					<include name="shareTheApp" />
					<include name="checkAutoUpdate" />
					<include name="downloadTipShow" />
					<include name="downloadTipCloseInOtherWay" />
					<include name="checkSetTheRange" />
					<include name="aboutTheApp" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
<!-- <classes> </classes> -->