<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
	<!-- 一个测试套束 -->
	<!-- 一个完整的测试功能 -->
	<!-- 一个完整的测试类 -->
	<!-- 一个测试集 -->
	<!-- 测试用例 -->
	<test name="Test" preserve-order="true">
		<classes>
		    <!-- 测试工信部弹窗 -->
			<class name="com.cmic.GoAppiumTest.testcase.TestSplashActivity">
				<methods>
					<include name="initCheck" />
					<include name="checkNoNotify" />
					<include name="checkDenyProcotol" />
					<include name="checkScrollProcotol" />
					<include name="checkComfirmProcotol" />
				</methods>
			</class>
		    <!-- 测试权限授权 -->
			<class name="com.cmic.GoAppiumTest.testcase.TestGrantPremissionActivity">
				<methods>
					<include name="initCheck" />
					<include name="chekNotNotify" />
					<include name="denyAllPremission" />
					<include name="checkShowPermissionRalation" />
					<include name="checkGetPermissionDetail" />
					<include name="checkPermissionRefuse" />
					<include name="checkPermissionRetry" />
					<include name="allowAllPremission" />
				</methods>
			</class>
			<!-- 首页应用推荐 -->
			<class name="com.cmic.GoAppiumTest.testcase.TestRequisiteActivity">
			    <methods>
			        <include name="initCheck"/>
			        <include name="checkBackForward"/>
			        <include name="checkOneSelect"/>
			        <include name="checkAllSelect"/>
			        <include name="futureHope"/>
			    </methods>
			</class>
		</classes>
	</test>
</suite>
<!--  
<classes>
		</classes>
		
 -->