<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
	<!-- 一个测试套束 -->
	<!-- 一个完整的测试功能 -->
	<!-- 一个完整的测试类 -->
	<!-- 一个测试集 -->
	<!-- 测试用例 -->

	<test name="Test4Regular" preserve-order="true">
		<classes>

			<!-- 必备应用的应用详情页DetailActivity测试 -->
			<class name="com.cmic.GoAppiumTest.testcase.TestDetailActivity">
				<methods>
					<include name="initCheck" />
					<include name="checkBriefIntroduction" />
					<include name="checkAdInDetail" />
					<include name="checkOtherInstall" />
					<include name="checkDownloadInOtherInstall" />
					<include name="checkPermission" />
					<include name="checkTipOff" />
					<include name="checkPostTipOffReport" />
					<include name="checkBottomDownload" />
					<include name="checkRightTopNumTip" />
				</methods>
			</class>

		</classes>
	</test>

	<test name="Test4DataProvider" preserve-order="true">
		<classes>
			<class name="com.cmic.GoAppiumTest.dataprovider.CheckSearch">
				<methods>
					<include name="initCheck" />
					<include name="searchDataProvider" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
